doctype html
html
  head
    title= title
    meta(name="csrf-token", content="#{ csrfToken }")
    link(rel='stylesheet', href='/stylesheets/application.min.css')
  body
    header
      if user
        | Logged in as
        | 
        b= user.email
        | 
        a(href='/logout') Logout
      else
        a(href='/login') Login
        | &nbsp; - &nbsp; 
        a(href='/signup') Signup
    main
      if message && message.length > 0
        div= message
      block content
    
    script(src='/javascripts/application.min.js')
